.feedHolder {
  max-width: 100%;
  margin-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  .itemsHolder {
    min-width: calc(50% - 10px);
    flex-grow: 1;

    .feedHeader {
      height: 48px;
      // margin-block: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .label {
        color: var(--text-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
    }

    .feedContent {
      margin-top: 16px;
      height: calc(100dvh - 136px);

      overflow: hidden;

      &:hover {
        width: calc(100% + 12px);
        overflow-y: scroll;
      }
    }
  }
}

.activeTab {
  color: var(--text-primary);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

}

.inactiveTab {
  color: var(--text-secondary);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.bulkControls {
  display: flex;
  margin-block: 12px;

  .bulkControlButton {
    color: var(--accent-links);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    box-shadow: none;

    padding-inline: 8px;
    border-right: 1px solid var(--subtile-devider);

    &:last-child {
      border-right: none;
    }

    &:disabled {
      color: var(--text-tertiary-2);
    }
  }
}

.emptyList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 12px;
}
