.headerTitle {
  color: var(--brand-text);
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkBack {
  color: var(--brand-text);
  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
