.event {
  overflow: hidden;
  width: 100%;
  // border: 1px solid blue;
  padding: 2px;

  text-decoration: none;
  color: var(--text-primary);

  display: flex;
  flex-direction: column;

  &.embedded {
    // border: 4px solid darkslategrey;
  }
}

.reposters {
  // border: 1px dashed red;
  padding: 2px;
}

.note {
  width: 100%;
  word-break: break-all;
}

.feedPage {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  // border: 2px dashed red;
  margin-bottom: 12px;
}

.hiddenPage {
  width: 100%;
}
