.layout {
  position: relative;
  display: grid;
  grid-template-columns: 184px 640px 348px;
  margin-inline: auto;
  width: 1172px;
  // border: 1px solid gold;

  header {
    width: 100%;
    height: 84px;
    // border: 1px solid darkgoldenrod;
  }

  footer {
    width: 100%;
    height: 84px;
    // border: 1px solid darkgreen;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
  }

  aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 12px;
    width: 184px;

    // border: 1px solid darkslategrey;

    &.left {
      padding-right: 12px;
      width: 172px;
    }

    &.right {
      padding-left: 12px;
      width: 336px;
    }

    .fixed {
      position: fixed;
    }
  }

  .branding {
    width: 160px;
    height: 84px;
  }

  .search {
    width: 100%;
    height: 84px;
  }

  .sidebar {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 640px;
    min-height: 100dvh;
    // margin-left: 184px;

    .central {
      width: 640px;
      flex-grow: 1;
    }
  }
}
