.suggest {
  background-color: var(--background-header-input);
}

.searchHolder {
  width: 100%;
}

.settingsInput {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;

  input {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding-inline: 20px;
    height: 36px;
    border: none;
    border-radius: 18px;
    color: var(--text-secondary);
    margin-bottom: 0;
    background-color: var(--background-input);
    flex-grow: 1;

    &.noIcon {
      padding-left: 8px;
    }

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-tertiary-2);
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--text-tertiary-2);
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: var(--text-tertiary-2);
    }

    &:focus {
      border-color: var(--text-tertiary);
    }
  }
}
