@use "palette.scss";

/* Default theme */
:root[data-theme="dark"],
:root[data-theme="studio_dark"],
:root:not([data-theme="dark"]),
:root:not([data-theme="studio_light"])
{
  @include palette.studio_dark;
}

:root[data-theme="light"],
:root[data-theme="studio_light"] {
  @include palette.studio_light;
}

:root {
  --missing-avatar-text: #FFFFFF;

  --z-index-lifted: 10;
  --z-index-header: 20;
  --z-index-floater: 30;
  --z-index-floater-2: 32;
  --z-index-overlay: 40;

  --border-radius-small: 8px;
  --border-radius-big: 12px;
  --border-radius-large: 16px;

  --central-content-width: 640px;

  --sidebar-section-icon-gradient: linear-gradient(175.11deg, #FA9A43 6.94%, #FA4343 29.79%, #5B12A4 97.76%), linear-gradient(170.29deg, #CCCCCC 12.73%, #808080 94.98%), #D9D9D9;

  --light-input: #E5E5E5;
  --light-back: #F5F5F5;
  --dark-input: #222222;
  --dark-back: #000000;

  --warning-color: #FA3C3C;
  --warning-color-2: #FF5834;
  --success-color: #66E205;
  --success-color-2: #2CA85E;
  --success-color-3: #0E8A40;

  --premium-orange: #FA3C3C;

  --media-stats-image: #BC1870;
  --media-stats-video: #0090F8;
  --media-stats-other: #FF9F2F;

  --left-col-w: 184px;
  --center-col-w: 640px;
  --right-col-w: 348px;
  --full-site-w: 1174px;
  --header-height: 72px;

  --search-input-width: 300px;

  --profile-animation-duration: 350ms;
  --profile-banner-animation-delay: 0ms;
  --profile-card-animation-delay: 150ms;
  --profile-avatar-animation-delay: 350ms;

  --legend-gold: linear-gradient(180deg, #FFB700 0%, #FFB700 49%, #CB721E 50%, #FFB700 100%);
  --legend-aqua: linear-gradient(180deg, #6BCCFF 0%, #6BCCFF 49%, #247FFF 50%, #6BCCFF 100%);
  --legend-silver: linear-gradient(180deg, #CCC 0%, #CCC 49%, #777 50%, #CCC 100%);
  --legend-purple: linear-gradient(135deg, #C803EC 15.94%, #5613FF 85.31%);
  --legend-purplehaze: linear-gradient(135deg, #FB00C4 0%, #04F7FC 100%);
  --legend-teal: linear-gradient(160deg, #40FCFF 20%, #007D9F 75%);
  --legend-brown: linear-gradient(160deg, #BB9971 20%, #5C3B22 75%);
  --legend-blue: linear-gradient(160deg, #01E0FF 4.5%, #0190F8 35%, #2555EE 75%);
  --legend-sunfire: linear-gradient(135deg, #FFA722 4.5%, #FA3C3C 35%, #F00492 75%);

  --legend-glow-gold: #FFB700;
  --legend-glow-aqua: #6BCCFF;
  --legend-glow-silver: #CCC;
  --legend-glow-purple: #B300D3;
  --legend-glow-purplehaze: #8279DF;
  --legend-glow-teal: #40FCFF;
  --legend-glow-brown: #BB9971;
  --legend-glow-blue: #01E0FF;
  --legend-glow-sunfire: #FFA722;

  background-color: var(--background-site);

  * {
    ::-moz-selection {
      color: var(--background-site);
      background: var(--text-primary);
    }

    ::selection {
      color: var(--background-site);
      background: var(--text-primary);
    }
  }

}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    @include palette.studio_dark;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nacelle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow-y: scroll;
  background-color: var(--background-site);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Preload these images and icons
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
  content:
    url(./assets/images/primal_studio_dark.svg)
    url(./assets/images/primal_studio_light.svg)

    url(./assets/icons/big_success.svg)
    url(./assets/icons/bookmark_empty.svg)
    url(./assets/icons/calendar.svg)
    url(./assets/icons/caret.svg)
    url(./assets/icons/check.svg)
    url(./assets/icons/chevron_right.svg)
    url(./assets/icons/colon.svg)
    url(./assets/icons/close.svg)
    url(./assets/icons/connect.svg)
    url(./assets/icons/content_score.svg)
    url(./assets/icons/context.svg)
    url(./assets/icons/copy_note_id.svg)
    url(./assets/icons/copy_note_link.svg)
    url(./assets/icons/copy_note_text.svg)
    url(./assets/icons/copy_raw_data.svg)
    url(./assets/icons/delete.svg)
    url(./assets/icons/download.svg)
    url(./assets/icons/emoji.svg)
    url(./assets/icons/feed_like.svg)
    url(./assets/icons/feed_reply.svg)
    url(./assets/icons/feed_repost.svg)
    url(./assets/icons/feed_zap.svg)
    url(./assets/icons/feed_zap_2.svg)
    url(./assets/icons/feed_zap_fill_2.svg)
    url(./assets/icons/global.svg)
    url(./assets/icons/grid_list.svg)
    url(./assets/icons/heart.svg)
    url(./assets/icons/help.svg)
    url(./assets/icons/image_icon.svg)
    url(./assets/icons/item_list.svg)
    url(./assets/icons/latest.svg)
    url(./assets/icons/logo_fire.svg)
    url(./assets/icons/logo_ice.svg)
    url(./assets/icons/new_tab.svg)
    url(./assets/icons/no_image.svg)
    url(./assets/icons/purple_check.svg)
    url(./assets/icons/search.svg)
    url(./assets/icons/separator.svg)
    url(./assets/icons/verified.svg)
    url(./assets/icons/weather.svg)

    url(./assets/icons/nav/account.svg)
    url(./assets/icons/nav/articles.svg)
    url(./assets/icons/nav/home.svg)
    url(./assets/icons/nav/media.svg)
    url(./assets/icons/nav/notes.svg)
    url(./assets/icons/nav/settings.svg)

    url(./assets/icons/sentiments/negative.svg)
    url(./assets/icons/sentiments/positive.svg)
    url(./assets/icons/sentiments/neutral.svg)


    url(./assets/icons/lf_editor_toolbar/bold.svg)
    url(./assets/icons/lf_editor_toolbar/bullet.svg)
    url(./assets/icons/lf_editor_toolbar/desktop.svg)
    url(./assets/icons/lf_editor_toolbar/desktop_mode.png)
    url(./assets/icons/lf_editor_toolbar/edit.svg)
    url(./assets/icons/lf_editor_toolbar/feeds.svg)
    url(./assets/icons/lf_editor_toolbar/image.svg)
    url(./assets/icons/lf_editor_toolbar/info.svg)
    url(./assets/icons/lf_editor_toolbar/Italic.svg)
    url(./assets/icons/lf_editor_toolbar/link.svg)
    url(./assets/icons/lf_editor_toolbar/mention.svg)
    url(./assets/icons/lf_editor_toolbar/mode.svg)
    url(./assets/icons/lf_editor_toolbar/ordered.svg)
    url(./assets/icons/lf_editor_toolbar/phone_mode.svg)
    url(./assets/icons/lf_editor_toolbar/separator.svg)
    url(./assets/icons/lf_editor_toolbar/strike.svg)
    url(./assets/icons/lf_editor_toolbar/table.svg)
    url(./assets/icons/lf_editor_toolbar/uline.svg)
    ;
}

.hidden {
  visibility: hidden;
  height: 0;
}

.displayNone {
  display: none !important;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: auto;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
}


// DATE PICKER --------------------------------------

@import '@rnwonder/solid-date-picker/dist/style.css';

.date-picker-wrapper, .date-selector-wrapper {
  background-color: var(--background-input);
  color: var(--text-secondary);
  padding-block: 12px;

  &.rn-border-solid {
    border: none;
  }
}

.date-picker-top, .selector-picker-top {
  padding-inline: 20px;
  button {
    width: fit-content;
    color: var(--text-primary);
    background: none;

    &:hover {
      background-color: var(--subtile-devider);
    }
  }
}

.date-month-year-selector-area {
  button {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
}

.date-picker-weekday-name {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.date-picker-day-number-area {
  button {
    background-color: var(--background-input);
    color: var(--text-primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 0;

    &:hover {
      background-color: var(--subtile-devider);
    }

    &[data-day-hover="true"] {
      background-color: var(--subtile-devider);
    }
    &[data-day-number-range-start-or-end="true"] {
      background-color: var(--text-tertiary-2);
    }
    &[data-day-number-range-between="true"] {
      background-color: var(--subtile-devider);
    }

    &:disabled {
      color: var(--text-tertiary-2);
    }
  }
}

.date-full-size-selector-area {
  button {
    background-color: var(--background-input);
    color: var(--text-primary);

    &[date-selector-option-selected="true"] {
      background-color: var(--text-tertiary-2);
    }
  }
}

// ----------------------------------------------------

// Scrollbars

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--subtile-devider);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-tertiary-2);
}

textarea {
  font-family: Nacelle;
  resize: none;
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}

.fixed_editor_toolbar {
  position: fixed !important;
  z-index: 10;
  top: 0;
  /* left: 0; */
  background-color: var(--background-site);
}

th.selectedCell, td.selectedCell {
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;

  background-color: var(--subtile-devider) !important;
}

.linkish {
  color: var(--accent-links);
}

.linkish_editor {
  color: var(--accent-links) !important;
}

// DATE PICKER -----------------------------------

@import '@rnwonder/solid-date-picker/dist/style.css';

.date-picker-wrapper, .date-selector-wrapper {
  background-color: var(--background-input);
  color: var(--text-secondary);
  padding-block: 12px;

  &.rn-border-solid {
    border: none;
  }
}

.date-picker-top, .selector-picker-top {
  padding-inline: 20px;
  button {
    width: fit-content;
    color: var(--text-primary);
    background: none;

    &:hover {
      background-color: var(--subtile-devider);
    }
  }
}

.date-month-year-selector-area {
  button {
    color: var(--text-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
  }
}

.date-picker-weekday-name {
  color: var(--text-secondary);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}

.date-picker-day-number-area {
  button {
    background-color: var(--background-input);
    color: var(--text-primary);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 0;

    &:hover {
      background-color: var(--subtile-devider);
    }

    &[data-day-hover="true"] {
      background-color: var(--subtile-devider);
    }
    &[data-day-number-range-start-or-end="true"] {
      background-color: var(--text-tertiary-2);
    }
    &[data-day-number-range-between="true"] {
      background-color: var(--subtile-devider);
    }

    &:disabled {
      color: var(--text-tertiary-2);
    }
  }
}

.date-full-size-selector-area {
  button {
    background-color: var(--background-input);
    color: var(--text-primary);

    &[date-selector-option-selected="true"] {
      background-color: var(--text-tertiary-2);
    }
  }
}

[data-popper-positioner] {
  z-index: 99 !important;
}

// ----------------------------------------------------

.image-grid-editor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  border-radius: 12px;
  overflow: hidden;

  width: min(500px, 100%) !important;

  img {
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    width: min(250px, 100%) !important;
    aspect-ratio: 1;
    object-fit: cover;

    &:first-child {
      border-radius: 12px 0 0 0;

      &:nth-last-child(4) {
        border-radius: 12px 0 0 12px !important;
      }
    }

    &:nth-child(2) {
      border-radius: 0 12px 0 0 !important;

      &:nth-last-child(3) {
        border-radius: 0 12px 12px 0 !important;
      }
    }

    &:nth-child(3) {
      border-radius: 0 0 0 12px !important;
    }

    &:nth-child(4) {
      border-radius: 0 0 12px 0 !important;
    }
  }

  &.gallery-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "cell1 cell1"
      "cell2 cell3";

    img {
      &:first-child {
        grid-area: cell1;
        width: min(500px, 100%) !important;
        border-radius: 12px 12px 0 0 !important;
      }

      &:nth-child(2) {
        grid-area: cell2;
        border-radius: 0 0 0 12px !important;
      }

      &:nth-child(3) {
        grid-area: cell3;
        border-radius: 0 0 12px 0 !important;
      }
    }
  }
}
