@use "palette.scss";

/* Default theme */
:root[data-theme="dark"],
:root[data-theme="sunset"],
:root:not([data-theme="dark"]),
:root:not([data-theme="sunset"]),
:root:not([data-theme="sunrise"]),
:root:not([data-theme="midinght"]),
:root:not([data-theme="ice"]) {
  @include palette.sunset_wave;
}

:root[data-theme="light"],
:root[data-theme="sunrise"] {
  @include palette.sunrise_wave;
}

:root[data-theme="midnight"] {
  @include palette.midnight_wave;
}

:root[data-theme="ice"] {
  @include palette.ice_wave;
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root {
    @include palette.sunset_wave;
  }
}

body {
  margin: 0;
  font-family: 'Nacelle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  background-color: var(--background-site);
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Preload these images and icons
body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
  content:
    url(./assets/images/branding.svg)
    ;
}
