.selectBox {
  display: flex;

  .trigger {
    display: flex;
    gap: 4px;
    border-radius: 99px;
    border: 1px solid var(--subtile-devider);
    background: var(--background-header-input);
    outline: none;
    margin: 0;
    padding: 0;

    padding-block: 8px;
    padding-left: 12px;
    padding-right: 8px;
    cursor: pointer;

    color: var(--text-primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    span {
      display: flex;
      gap: 4px;
    }

    .prefix {
      color: var(--text-tertiary);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }

    .chevronIcon {
      margin-left: 2px;
    }

    &:hover {
      background-color: var(--subtile-devider);
    }
  }
}

.selectContent {
  border-radius: 8px;
  border: 1px solid var(--subtile-devider);
  background-color: var(--background-input);
  border-radius: 12px;
  padding: 6px;

  li {
    list-style: none;
  }
}

.selectItem {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  padding-block: 8px;
  border-radius: 8px;
  cursor: pointer;

  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  .checkIcon {
    width: 14px;
    height: 14px;
    background-color: var(--text-primary);
  }

  >div {
    padding-left: 30px;
  }

  >div[data-selected] {
    padding-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }

  &:hover {
    background-color: var(--subtile-devider);
  }
}

.chevronIcon {
  width: 16px;
  height: 16px;

  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/caret.svg) 0 / 100% no-repeat;
  mask: url(../../assets/icons/caret.svg) 0 / 100% no-repeat;
}

.checkIcon {
  width: 16px;
  height: 16px;

  background-color: var(--text-tertiary-2);
  -webkit-mask: url(../../assets/icons/check.svg) 0 / 100% no-repeat;
  mask: url(../../assets/icons/check.svg) 0 / 100% no-repeat;
}
