.mediaLayout {
  display: grid;
  grid-template-columns: 964px;
}

.mediaHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  padding-inline: 20px;
  border-right: 1px solid var(--devider);

  .serverSelection {
    display: flex;
    align-items: center;
    gap: 12px;

    .serverInfo {
      display: flex;
      align-items: center;
    }
  }
}

.mediaListGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  padding-top: 12px;
  padding-inline: 22px;
  border-top: 1px solid var(--devider);
  border-right: 1px solid var(--background-input);

  .monthCaption {
    flex-grow: 1;
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    margin-block: 8px;
    text-align: left;
  }

  .item {
    width: 177px;
    height: 149px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: var(--background-input);
    border: 2px solid var(--background-site);
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    opacity: 1;
    transition: opacity 300ms linear;

    &.hidden {
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s 300ms, opacity 300ms linear;
    }

    .missingFile {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--brand-text);
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
    }

    &.selected {
      border: 2px solid var(--text-primary);
    }

    .cancelUpload {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      .closeIcon {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 10px;
        height: 10px;
      }
    }

    .videoIcon {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 5;
    }
  }

  .itemFooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: calc(100% - 16px);
    padding: 6px 8px;
    align-items: center;
    background-color: var(--background-input);

    color: var(--brand-text);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    .mediaSize {
      text-align: left;
    }

    .mediaType {
      text-transform: uppercase;
    }

    .mediaContextHolder {
      display: flex;
      justify-content: flex-end;
    }

    .mediaContext {
      text-align: right;
    }

    &.progress {
      display: flex;
      width: 100%;
      padding: 0;
      align-items: flex-end;
    }
  }

  img, video {
    width: 177px;
    height: 149px;
    object-fit: cover;
    overflow: hidden;
  }
}

.mediaList {
  border: 1px solid var(--devider);
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid var(--devider);

    &.selected {
      background-color: var(--devider);
    }

    td {
      opacity: 1;
      transition: opacity 300ms linear;
    }

    &.hidden {
      td {
        opacity: 0;
        visibility: hidden;
        transition: visibility 0s 300ms, opacity 300ms linear;
      }
    }
  }

  th {
    color: var(--text-secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;

    text-align: left;
    padding-block: 16px;
    height: 32px;

    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }
  }

  td {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    text-align: left;
    padding-block: 16px;
    height: 32px;

    img, video {
      width: 36px;
      height: 28px;
      border-radius: 2px;
      overflow: hidden;
      object-fit: cover;
    }

    >div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &:first-child {
      padding-left: 20px;
    }
    &:last-child {
      padding-right: 20px;
    }

    &.type {
      // min-width: 145px;
      text-transform: uppercase;
    }

    &.cancelUpload {
      justify-items: end;

      button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
      }
    }

    .progress {
      width: 36px;
      height: 28px;
      border-radius: 2px;
      overflow: hidden;
      background-color: var(--background-input);

      display: flex;
      padding: 0;
      align-items: flex-end;
    }
  }

}

.serverInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .serverStat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding-inline: 6px;
    border-right: 1px solid var(--devider);

    &:last-child {
      border-right: none;
    }

    .number {
      color: var(--text-primary);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    .label {
      color: var(--text-tertiary);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.listOptions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  .listType {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;

    .listTypeButton {
      width: 28px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 99px;
      border: 1px solid var(--subtile-devider);

      &.selected {
        background-color: var(--text-primary);

        .gridIcon, .listIcon {
          background-color: var(--background-site);
        }
      }
    }
  }
}

.gridIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/grid_list.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/grid_list.svg) no-repeat 0 / 100%;
}

.listIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/item_list.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/item_list.svg) no-repeat 0 / 100%;
}

.linkButton {
  color: var(--accent-links);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  display: flex;
  align-items: center;
}


.closeIcon {
  width: 16px;
  height: 16px;
  background-color: var(--text-secondary);
  -webkit-mask: url(../../assets/icons/close.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/close.svg) no-repeat 0 / 100%;
}

.usageLink {
  padding: 2px 8px;
  border-radius: 99px;
  background: var(--devider);
  color: var(--text-primary);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}

.usageList {
  display: flex;
  gap: 4px;
}


.mediaUsesDialog {
  width: 640px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  gap: 8px;

  .useSection {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .usageItem {
    border-radius: 12px;
    background-color: var(--background-sheet);
    padding: 12px;
    width: calc(100% - 24px);
    cursor: pointer;
  }
}

.videoIcon {
  width: 18px;
  height: 18px;
  background-image: url(../../assets//icons/video.png);
  background-size: 100%;
  // background-color: var(--text-secondary);
  // -webkit-mask: url(../../assets/icons/video.svg) no-repeat 0 / 100%;
  // mask: url(../../assets/icons/video.svg) no-repeat 0 / 100%;
}

.playIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/play.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/play.svg) no-repeat 0 / 100%;
}

.pauseIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/pause.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/pause.svg) no-repeat 0 / 100%;
}

.muteIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/mute.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/mute.svg) no-repeat 0 / 100%;
}

.unmuteIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/unmute.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/unmute.svg) no-repeat 0 / 100%;
}

.fullscreenIcon {
  width: 18px;
  height: 18px;
  background-color: var(--text-primary);
  -webkit-mask: url(../../assets/icons/fullscreen.svg) no-repeat 0 / 100%;
  mask: url(../../assets/icons/fullscreen.svg) no-repeat 0 / 100%;
}


.videoPlaceholder {
  width: 36px;
  height: 49px;
}

.thumbVideoPlayer {
  position: relative;
  width: fit-content;
  height: fit-content;

  &:fullscreen {
    video {
      max-width: none;
      width: 100%;
      height: 100%;
    }
  }

  &:-webkit-full-screen {
    video {
      max-width: none;
      width: 100%;
      height: 100%;
    }
  }

  .videoControls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 12px);
    visibility: hidden;
    padding: 6px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .backdrop {
      position: absolute;
      width: calc(100% + 12px);
      height: 100%;
      background-color: var(--background-site);
      opacity: 0.6;
      margin: -6px;
    }

    button {
      background: none;
      border: none;
      outline: none;
      color: var(--text-primary);
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      z-index: 5;
    }

    .seekBar {
      flex-grow: 1;
      min-width: 10px;
      z-index: 5;


      flex: 1;
      height: 6px;
      background: transparent;
      outline: none;
      cursor: pointer;
      -webkit-appearance: none;
      appearance: none;

      &::-webkit-slider-runnable-track {
        background: var(--text-secondary);
        height: 4px;
        border-radius: 4px;
      }

      &::-moz-range-track {
        background: var(--text-primary);
        height: 4px;
        border-radius: 4px;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 12px;
        width: 12px;
        background: var(--text-primary);
        border-radius: 50%;
        margin-top: -4px;
      }

      &::-moz-range-thumb {
        height: 12px;
        width: 12px;
        background: var(--text-primary);
        border-radius: 50%;
      }
    }
  }

}
